{{!-- this displays whatever post --}}
<div class="card">

    <div class="card-header">
        <span>by {{user.name}} on {{date_created}}.</span>
        <h3><a class="card-header-text" href="/post/{{id}}">{{post_title}}</a></h3>

    </div>
    <div class="card-body">
        <p>{{post_body}}</p>
    </div>

</div>